@font-face {
  font-family: rubik-regular;
  src: url('../fonts/Rubik-Medium.ttf');
}

html *{
	font-family:rubik-regular;
}

html, body, div{ 
    margin:0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 550px;
}

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

a:hover {
	cursor:pointer;
}

.drop1 {
	cursor:pointer;
}

#Main {
	/*background-image: url('../img/background_4x.jpg');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto auto;
	height:100%;
}

.main {
	overflow: auto;
	/*width:calc(100% - 45px);*/
	width:100%;
	height:100%;
	float:left;
	left:45px;
	padding:0;
}

.header {
	z-index: 19;
	float:left;
	position: sticky;
	top:-50px;
	/*idth:calc(100% - 45px);*/
	width:100%;
	/*left:45px;*/
	left:0;
	background-color:#B74EFF;
	color:white;
	height:45px;
	right: 0;
	border-bottom: 1px solid #660000FF;
	text-align:center;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: -100px; /* Stay on top */
  /*width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.index_member {
	font-size: 26px;
	text-decoration:none;
}

.index_member a {
	text-decoration:none;
	color:black;
}

#content-overlay-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 10;
}

#content-overlay {
	position: fixed;
	overflow: hidden;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: rgba(0, 0, 0, 255);
	color:white;
	z-index: 11;
	border: 8px double #631EA6;
	border-radius: 20px;
	padding:25px;
}

#content-overlay-left {
	float:left;
	overflow:auto;
	top:0;
	left:0;
	width: calc(100% - 340px);
	height: 100%;
	padding:0;
	padding-right:25px;
	margin:0;
	text-align: justify;
}

#content-overlay-right {
	overflow:auto;
	height:100%;
	width:340px;
}

#content-overlay-left p {
	text-align: justify;
	padding
}

#content-overlay-right {
	float:left;
	width: 340px;
	height: 100%;
	padding:0;
	margin:0;
}

.content-overlay-table {
	border-collapse: collapse;
	height:100%;
	width:100%;
}

.content-overlay-close {
	position:absolute;
	background-color:#631EA6;
	border-color:#631EA6;
	border-radius:6px;
	left: 8px;
	top: 8px;
	height:30px;
	width:30px;
	z-index:999;
}

.content-overlay-table td {
	border: 1px solid cyan;
	padding: 10px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  /*border-bottom: 1px solid black;*/
}

.main_logo{
	height:48px;
}

.sidebar {
	position:fixed;
	height: 100%;
	top:0;
	min-width:45px;
	width:45px;

	background-image: linear-gradient(to bottom, #c6c500, #cbb100, #cc9c00, #ca8800, #c6750d);

	border-right: 1px solid #660000FF;
}

a.index {
	color: white;
	font-size:25px;
}

a.index:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a.index:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a.index:hover {
  color: #B74EFF;
  background-color: transparent;
  text-decoration: underline;
}

.gallery {
	width:90%; 
	left:50px; 
	border:1px solid gray;
}

.gallery .prev {
	width:25px;
	text-align:center;
	position:absolute;
	top:55%;
}

.gallery .next {
	width:25px;
	text-align:center;
	position:absolute;
	top:55%;
	right:8%;
}

.gallery .prev:hover {
	border:1px solid white;
	border-radius: 3px;
	background-color: #B74EFF;
}

.gallery .next:hover {
	border:1px solid white;
	border-radius: 3px;
	background-color: #B74EFF;
}

.index_members {
	position:relative;
	height: 100%;
	width:100%;
	left:0;
	margin:0;
	padding:0;
}

.index_member {
	float:left;
	height: auto;
	width:50%;
	left:0;
	margin:0;
	padding:0;
}

.drop1 {
	float:left;
	left:20px;
	position: relative;
	display: inline-block;
	color: white;
	font-size:15px;
}

.header_drop1 {
	position: relative;
	display: inline-block;
	float:left;
	margin-left: 40px;
	height:35%;
	width:auto;
}

.header_link {
	height:30%;
}

.header-drop1-content {
	left:-10%;
	top:220%;
	display: none;
	position: absolute;
	background-color: #4D4D4D;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border: 1px solid #4A4A4A;
	border-radius: 3px;
	z-index: 1;
}

.header_drop1:hover .header-drop1-content {
	display: block;
}

.drop1 img {
}

.drop1 p {
	display: inline
}

.drop1 p:hover {
	text-decoration:underline;
}

.drop1-content {
	left:0px;
	display: none;
	position: absolute;
	background-color: #4D4D4D;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border: 1px solid #4A4A4A;
	border-radius: 3px;
	z-index: 1;
}

.drop1-content a {	
	margin-left:15px;
	color: white;
	text-decoration:none;
}

.drop1-content a:hover {
	background-color: #552577;
	color: #B74EFF;
}

.drop1:hover .drop1-content {
	display: block;
}

/*.drop1:hover .dropbtn {background-color: #3e8e41;}*/

.content {
	position:fixed;
	height: 100%;
	width:100%;
	left:45px;
	margin:0;
	padding:0;
}

.innerContent {
	position:sticky;
	width:100%;
	height:auto;
	left:0;
	background-color: #000000CC;
	color:white;

	text-align: justify;
	text-justify: inter-word;
			
	margin:16px;

	height: auto;

	border: 8px double #631EA6;
	border-radius: 20px;
}

.innerContent2 {
	position:sticky;
	padding:25px;
	width:100%;	
}

.innerContent2 .content1L {
	padding:25px;
}

.innerContent2 .about {
	float:left;
	margin-top:50px;
	padding-top:15px;
	width:70%;
}

.twitter-timeline {
	max-height: 640px;
	width:100%;
}

button.expand {
	position:absolute;
	background-color:#631EA6;
	border-color:#631EA6;
	border-radius:6px;
	left: -17px;
	top: 20px;
	height:30px;
	width:30px;
	z-index:999;
}

content_gallery {
	width:100%;
	height:100%;
}

.content_gallery img {
	width: 25%;
	height: auto;
}

.innerContent2 .expand {
	float:left;
}

.innerContent2 .logo {
	position:sticky;
	float:left;
	padding-top:25px;
	left:90%;
	width:20%;
}

.innerContent h1 {
}
		
.footer {
	/*background-color:#C513B6;*/
	background-color: black;
	color:white;
	font-size:25px;
	height:auto;
	bottom:0;
	text-align:center;
	vertical-align:center;
}

.footer a {
	text-decoration:none;
	color: #BBBBBBFF;
}

.footer a:hover {
	background-color: purple;
}

.img1 {
	float:left;
	height: 146px;
	left:150px;
}

.sideL {
	position:sticky;
	left:0;
	height:100%;
}

.sideR {
	right:0;
}

.content1L {
	position:sticky;
	left:0;
	height:100%;
}

.content1R {
	right:0;
	padding-right:25px;
	padding-top:25px;
}

.expWiki1 {
	border: 5px solid #6F0280;
	border-radius: 20px 0px 20px 0px;
	background-color:#C048AE;
	text-align:center;
	color: black;
}

.privacy_policy { 
	!important;
	overflow: scroll;
	height:calc(100% - 25px);
	width:100%;
	color:white;
}

.col-7 .banner {
	width:50%;
	text-align: center;
}

.col-7 .banner a {
	text-align: center;
}

.drop1 {
	width:33.3%;
}

ul {
  list-style-type: none;
}

.row::after{
	content:"";
	clear:both;
}

[class*="col-"] {
	float :left;
}

.col-0 {width:5%}
.col-1	{width:8.33%}
.col-2	{width:16.66%}
.col-3 {width:20%}
.col-4	{width:25%}
.col-5	{width:33.33%}
.col-6	{width:41.66%}
.col-7	{width:50%}
.col-8	{width:58.33%}
.col-9	{width:66.66%}
.col-10	{width:75%}
.col-11 {width:83.33%}
.col-12 {width:91.66%}
.col-13 {width:100%}
.col-14 {width:20%}
.col-15 {width:80%}
.col-16 {width:95%}

.fil-0 {height:5%}
.fil-1	{height:8.33%}
.fil-2	{height:16.66%}
.fil-3 {height:20%}
.fil-4	{height:25%}
.fil-5	{height:33.33%}
.fil-6	{height:41.66%}
.fil-7	{height:50%}
.fil-8	{height:58.33%}
.fil-9	{height:66.66%}
.fil-10	{height:75%}
.fil-11 {height:83.33%}
.fil-12 {height:91.66%}
.fil-13 {height:100%}
.fil-14 {height:20%}
.fil-15 {height:80%}
.fil-16 {height:95%}

@media only screen and (max-width: 730px) {
	/* For mobile phones: */
	.main {
		width:100%;
	}

	.col-0 {
		width:100%;
	}

	.twitter-timeline {
		display:none;
	}

	.date {
		height:35%;
		display: block;
	}

	.date::before {
		content:"\A\A";
	}


	.sidebar {
		position:sticky;
		height: 45px;
		width:100%;
		background-image: linear-gradient(90deg, #c6c500, #cbb100, #cc9c00, #ca8800, #c6750d);
		border: 0;
		border-bottom: 1px solid #660000FF;
		margin:0;
		padding:0;
	}

	.header {
		/*display:none;*/
		height:90px;
		top: -100px;
	}

	.banner {
		background
	}

	.sideL {
		display:none;
	}

	.sideR {
		display:none;
	}

	.col-9 {
		position:sticky;
		left:0;
		width:100%;
	}

	.content {
		height:calc(100% - 45px);
		top: 45px;
		left:0;
		width:100%;
	}

	a {
		text-decoration: none;
		color:#BBBBBBFF;
	}

	.innerContent {
		width:90%;
	}

	.col-7 {
		width:100%;
	}

	.col-7 .banner {
		left:0;
		width:100%;
	}

	.col-5 {
		width:100%;
	}

	.header_logo {
		position:sticky;
		left:0;
		width:50%;
	}

	.header_menu {
		position:sticky;
		left:0;
		width:50%;
	}

}

@media only screen and (min-width:731px) and (max-width: 1279px) {
	/* For low res browsers: */
	.main {
		clear:both;
	}

	.content1R.col-5 {
		width:100%:
	}

	.content1L.col-9 {
		width:100%;
	}

	.expWiki1 {
		width:100%;
	}

	.expand {
		width:100%;
	}

	.about {
		width:100%;
	}

	.col-0 {
		width:100%;
	}

	.col-4 {
		width:8.33%;
	}

	.col-7 {
		width:100%;
	}

	.col-7 .banner {
		width:50%;
	}

	.col-5 {
		width:100%;
	}
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Estilo para la barra de desplazamiento en Firefox */
::-moz-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.trending-table {
	aspect-ratio: 1 / 1;
	width:100%;
}

.trending-table tbody tr th {
	align-content:center;
	text-align:center;
	vertical-align:top;
}